<!DOCTYPE html>
<html>
<head>
  <title>Yp360fortune</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
                <nav>
                    <table>
                        <tbody>
                            <tr>
                                <td><a href="index.html"><img src="/assets/icon_leaderboard.png"/></a></td>
                                <td><a href="regions.html"><img src="/assets/icon_region.png"/></a></td>
                                <td><a href="index.html"><img style="height:100px;" src="/assets/logo.png"/></a></td>
                                <td><a href="offices.html"><img src="/assets/icon_offices.png"/></a></td>
                                <td><a href="details.html"><img src="/assets/icon_detail_h.png"/></a></td>
                            </tr>
                            <tr>
                                <td><a href="index.html">Leader board</a></td>
                                <td><a href="regions.html">Regions</a></td>
                                <td></td>
                                <td><a href="offices.html">Offices</a></td>
                                <td><a href="details.html">Details</a></td>
                            </tr>
                        </tbody>
                    </table>
                </nav>
            </header>

<%= yield %>

</body>
</html>
